<%= form_with(model: post, local: true) do |form| %>
  <% if post.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(post.errors.count, "error") %> prohibited this post from being saved:</h2>

      <ul>
      <% post.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
<form>
  <div class="form-group row">
    <label for="inputEmail3" class="col-sm-2 col-form-label"><%= form.label :title %></label>
    <div class="col-sm-10">
      <input type="text" class="form-control" id="post_title" name="post[title]">
    </div>
    </div>
  <div class="field">
    <%= form.label :location %>
    <%= select_tag("post[location]", options_for_select([['제주시', '제주시'], ['애월읍', '애월읍'],
    ['조천읍', '조천읍'], ['한림읍', '한림읍'], ['구좌읍', '구좌읍'], ['한경면', '한경면'], ['서귀포시', '서귀포시'], ['대정읍', '대정읍'], ['안덕면', '안덕면'],
    ['남원읍', '남원읍'], ['표선면', '표선면'], ['성산읍', '성산읍']])) %>
  </div>

  <div class="field">
    <%= form.label :image %>
    <%= form.file_field :image %>
  </div>

  <div class="field">
    <%= form.label :mount %>
    <%= select_tag("post[mount]", options_for_select([['EF 마운트', 0], ['EF-s 마운트', 1]], 0)) %>
  </div>

  <div class="field">
    <%= form.label :zoom %>
    <%= select_tag("post[zoom]", options_for_select([['단렌즈', 0], ['줌렌즈', 1]], 0)) %>
  </div>

  <div class="form-group row">
    <label for="inputEmail3" class="col-sm-2 col-form-label"><%= form.label :distance %></label>
    <div class="col-sm-10">
      <input type="text" class="form-control" id="post_distance" name="post[distance]">
    </div>
  </div>

  <div class="form-group row">
    <label for="inputEmail3" class="col-sm-2 col-form-label"><%= form.label :F %></label>
    <div class="col-sm-10">
      <input type="text" class="form-control" id="post_F" name="post[F]">
    </div>
  </div>

  <div class="form-group row">
    <div class="col-sm-2"><%= form.label :Is %></div>
    <div class="col-sm-10">
      <div class="form-check">
        <input class="form-check-input" type="checkbox" id="post_Is" name="post[Is]" value="Is">
        <label class="form-check-label" for="gridCheck1">
          손떨림 방지
        </label>
      </div>
    </div>
  </div>
  
  <div class="form-group row">
    <label for="inputEmail3" class="col-sm-2 col-form-label"><%= form.label :content %></label>
    <div class="col-sm-10">
      <input type="text" class="form-control" id="post_content" name="post[content]">
    </div>
  </div>

  <div class="form-group row">
    <label for="inputEmail3" class="col-sm-2 col-form-label"><%= form.label :price %></label>
    <div class="col-sm-10">
      <input type="number" class="form-control" id="post_price" name="post[price]">
    </div>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
