<%= stylesheet_link_tag "application" %>
<p id="notice"><%= notice %></p>

<h1>Posts</h1>

<div class="form-group">
    <%= form_tag posts_path, method: :get do %>
      렌즈이름:
      <%= text_field_tag :content, params[:content] %>
      <%= submit_tag :search %>
    <% end %>
</div>

<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">Title</th>
      <th scope="col">User</th>
      <th scope="col">Location</th>
      <th scope="col">Image</th>
      <th scope="col">Mount</th>
      <th scope="col">Zoom</th>
      <th scope="col">Distance</th>
      <th scope="col">F</th>
      <th scope="col">Is</th>
      <th scope="col">content</th>
      <th scope="col">Price</th>
      <th scope="col" colspan="3"></th>
    </tr>
  </thead>
 
  <tbody>
    
    <%= search_form_for @q do |f| %>

      <%= f.label :location_cont %> &nbsp
      <%= select_tag("q[location_cont]", options_for_select([['전체', ''], ['제주시', '제주시'], ['애월읍', '애월읍'],
    ['조천읍', '조천읍'], ['한림읍', '한림읍'], ['구좌읍', '구좌읍'], ['한경면', '한경면'], ['서귀포시', '서귀포시'], ['대정읍', '대정읍'], ['안덕면', '안덕면'],
    ['남원읍', '남원읍'], ['표선면', '표선면'], ['성산읍', '성산읍']])) %>&nbsp
      
      <%= f.label :mount_cont %> &nbsp
      <%= select_tag("q[mount_cont]", options_for_select([['마운트 전체', ''],['EF 마운트', 0], ['EF-s 마운트', 1]])) %>&nbsp
      
      <%= f.label :zoom_cont %> &nbsp
      <%= select_tag("q[zoom_cont]", options_for_select([['전체', ''], ['단렌즈', 0], ['줌렌즈', 1]])) %>&nbsp
      
      
      <%#= f.search_field :zoom_cont %>
       
      <%= f.submit %>
    <% end %>
    
    <% mt = ['EF','EF-s'] %>
    <% zz = ['단렌즈', '줌렌즈'] %>
    <% @posts.each do |post| %>
      <tr>
        <td><%= post.title %></td>
        <td><%= link_to post.user.id, post.user %></td>
        <td><%= post.location %></td>
        <td><img src="<%= post.image.url %>" alt="" width="200px"></img></td>
        <td><%= "#{mt[post.mount.to_i]}" %></td>
        <td><%= "#{zz[post.zoom.to_i]}" %></td>
        <td><%= post.distance %></td>
        <td><%= post.F %></td>
        <td><%= post.Is %></td>
        <td><%= post.content %></td>
        <td><%= post.price %></td>
        <td><%= link_to 'Show', post %></td>
        <%# if current_user.present? && current_user.has_role(:admin) or can? :manage, post %> 
        <% if can? :manage, post %>
          <td><%= link_to 'Edit', edit_post_path(post) %></td>
          <td><%= link_to 'Destroy', post, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Post', new_post_path %>
