<p id="notice"><%= notice %></p>

<h1>Posts</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Location</th>
      <th>Image</th>
      <th>Mount</th>
      <th>Zoom</th>
      <th>Distance</th>
      <th>F</th>
      <th>Is</th>
      <th>Price</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    
    <%= search_form_for @q do |f| %>

      <%= f.label :location_cont %>
      <%= select_tag("q[location_cont]", options_for_select([['전체', ''], ['제주시', '제주시'], ['애월읍', '애월읍'],
    ['조천읍', '조천읍'], ['한림읍', '한림읍'], ['구좌읍', '구좌읍'], ['한경면', '한경면'], ['서귀포시', '서귀포시'], ['대정읍', '대정읍'], ['안덕면', '안덕면'],
    ['남원읍', '남원읍'], ['표선면', '표선면'], ['성산읍', '성산읍']])) %>
      
      <%= f.label :mount_cont %>
      <%= select_tag("q[mount_cont]", options_for_select([['마운트 전체', ''],['EF 마운트', 1], ['EF-s 마운트', 2]])) %>
      
      <%= f.label :zoom_cont %>
      <%= select_tag("q[zoom_cont]", options_for_select([['전체', ''], ['단렌즈', 1], ['줌렌즈', 2]])) %>
      
      
      <%#= f.search_field :zoom_cont %>
       
      <%= f.submit %>
    <% end %>
    
    <% @posts.each do |post| %>
      <tr>
        <td><%= post.title %></td>
        <td><%= post.location %></td>
        <td><img src="<%= post.image.url %>" alt="" width="200px"></img></td>
        <td><%= post.mount %></td>
        <td><%= post.zoom %></td>
        <td><%= post.distance %></td>
        <td><%= post.F %></td>
        <td><%= post.Is %></td>
        <td><%= post.price %></td>
        <td><%= link_to 'Show', post %></td>
        <td><%= link_to 'Edit', edit_post_path(post) %></td>
        <td><%= link_to 'Destroy', post, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Post', new_post_path %>
