<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @post.title %>
</p>

<p>
  <strong>User:</strong>
  <%= @post.user.nick_name %>
</p>

<p>
  <strong>Location:</strong>
  <%= @post.location %>
</p>

<p>
  <strong>Image:</strong>
  <%= image_tag @post.image.url %>
  <!--<img src="<%#= @post.image.url %>" alt="" width="200px"></img>-->
</p>

<p>
  <strong>Mount:</strong>
  <%= @post.mount %>
</p>

<p>
  <strong>Zoom:</strong>
  <%= @post.zoom %>
</p>

<p>
  <strong>Distance:</strong>
  <%= @post.distance %>
</p>

<p>
  <strong>F:</strong>
  <%= @post.F %>
</p>

<p>
  <strong>Is:</strong>
  <%= @post.Is %>
</p>

<p>
  <strong>Content:</strong>
  <%= @post.content %>
</p>

<p>
  <strong>Price:</strong>
  <%= @post.price %>
</p>

<p>
  <strong>Likes:</strong>
  <%= @post.like_users.count %>
</p>

<!--<p>-->
<!--  <#%= link_to 'Like', like_post_path, method: :post %>-->
<!--</p>-->

<% if can? :manage, @post %>
<%= link_to 'Edit', edit_post_path(@post) %>
<% end %>
<%= link_to 'Back', posts_path %>